/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* -- Font Family -- */
  --fraunces: 'Fraunces', serif;
  --lato: 'Lato', sans-serif;
  --oswald: 'Oswald', sans-serif;

  /* -- Colours Pallete -- */
  --primary-color: #c4a47c;
  --secondary-color: #604829;

  --white-color: #fff;
  --black-color: #000000;
  --gray-dark-color: #666;
  --gray-light-color: #ACACAC;
}

/* GLOBAL COMPONENTS */

.container {
  width: 100%;
}

.box-text {
  width: 50%;
  margin: auto;
  padding: 50px 0;
  text-align: center;
  background-color: var(--white-color);
}

.box-text h2 {
  font-size: 16px;
  padding-bottom: 20px;
  font-family: var(--oswald);
  color: var(--primary-color);
  letter-spacing: 1px;
}

.box-text p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
  color: #666;
}

/* HEADER SECTION */
.header {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.header-logo img {
  width: 100px;
  position: relative;
  left: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.navbar li a {
  margin-right: 20px;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 3px 5px 2px var(--black-color);
  letter-spacing: 2px;
  color: var(--primary-color);
}

/* BANNER SECTION */

.box-parallax-1 {
  background-image: url("../img/parallax-imagem1.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.banner h1 {
  text-transform: uppercase;
  font-size: 65px;
  font-family: var(--fraunces);
  color: var(--white-color);
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.box-parallax-2 h3,
.box-parallax-3 h3 {
  font-size: 25px;
  font-style: italic;
  color: var(--white-color);
  background-color: var(--secondary-color);
  padding: 10px 20px;

}

/* INFORMATION SECTION */

.information {
  width: 100%;
}

.box-parallax-2 {
  background-image: url("../img/parallax-imagem2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-parallax-3 {
  background-image: url("../img/parallax-imagem3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CONTACTS SECTION */

.box-parallax-4 {
  background-image: url("../img/parallax-imagem4.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts h2 {
  width: 20%;
  font-size: 15px;
  font-family: var(--oswald);
  letter-spacing: 2px;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  margin: 50px 0;
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
}

.box-contacts {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px 25px;
  margin: 30px 0;
}

.box-contacts p {
  text-align: center;
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-shadow: 3px 5px 2px var(--black-color);
  letter-spacing: 2px;
  color: var(--white-color);
}